.navbar-container{
    background-color: black;
    padding:6px;
    display:flex;
    margin-bottom: 40px; 
}
.navbar-container h1{
    color: #fff;
    padding-left: 10px;
    margin-right: 80px;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.navbar-page{
    color:white; 
   margin:0 40px;
   font-size: 23px;
   text-decoration: none;
  border-bottom:1px solid rgb(247, 104, 2);
  cursor: pointer;
  
}
.navbar-page:hover{
color:rgb(247, 104, 2);
}